<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viyangle.study_tour.mapper.AccountTagPrefMapper">

    <insert id="insert" parameterType="com.viyangle.study_tour.pojo.AccountTagPref">
        insert into account_tag_prefs
        (account_id, tag_id)
        values
        (#{accountId}, #{tagId})
    </insert>

    <delete id="deleteById">
        delete from account_tag_prefs
        where account_id = #{accountId} and tag_id = #{tagId}
    </delete>
    <delete id="deleteByAccountId">
        delete from account_tag_prefs
        where account_id = #{accountId}
    </delete>

    <select id="selectById" resultType="com.viyangle.study_tour.pojo.AccountTagPref">
        select account_id, tag_id
        from account_tag_prefs
        where account_id = #{accountId} and tag_id = #{tagId}
    </select>

    <select id="selectAll" resultType="com.viyangle.study_tour.pojo.AccountTagPref">
        select account_id, tag_id
        from account_tag_prefs
    </select>
    <select id="selectByAccountId" resultType="com.viyangle.study_tour.pojo.AccountTagPref">
        select account_id, tag_id
        from account_tag_prefs
        where account_id = #{accountId}
    </select>

</mapper>
