<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viyangle.study_tour.mapper.AttractionMapper">

    <insert id="insert" parameterType="com.viyangle.study_tour.pojo.Attraction">
        insert into attractions
        (poi_id, parent_poi_id, name, address, location, pcode, pname, citycode, cityname, adcode, adname, type, typecode, distance)
        values
        (#{poiId}, #{parentPoiId}, #{name}, #{address}, #{location}, #{pcode}, #{pname}, #{citycode}, #{cityname}, #{adcode}, #{adname}, #{type}, #{typecode}, #{distance})
    </insert>

    <delete id="deleteByPoiId" parameterType="java.lang.String">
        delete from attractions where poi_id = #{poiId}
    </delete>

    <update id="updateByPoiId" parameterType="com.viyangle.study_tour.pojo.Attraction">
        update attractions
        set parent_poi_id = #{parentPoiId},
            name = #{name},
            address = #{address},
            location = #{location},
            pcode = #{pcode},
            pname = #{pname},
            citycode = #{citycode},
            cityname = #{cityname},
            adcode = #{adcode},
            adname = #{adname},
            type = #{type},
            typecode = #{typecode},
            distance = #{distance}
        where poi_id = #{poiId}
    </update>

    <select id="selectByPoiId" parameterType="java.lang.String" resultType="com.viyangle.study_tour.pojo.Attraction">
        select poi_id, parent_poi_id, name, address, location, pcode, pname, citycode, cityname, adcode, adname, type, typecode, distance, created_at, updated_at
        from attractions
        where poi_id = #{poiId}
    </select>

    <select id="selectAll" resultType="com.viyangle.study_tour.pojo.Attraction">
        select poi_id, parent_poi_id, name, address, location, pcode, pname, citycode, cityname, adcode, adname, type, typecode, distance, created_at, updated_at
        from attractions
    </select>

    <select id="selectByRegionCode" resultType="com.viyangle.study_tour.pojo.Attraction">
        select poi_id, parent_poi_id, name, address, location, pcode, pname, citycode, cityname, adcode, adname, type, typecode, distance, created_at, updated_at
        from attractions
        <where>
            <if test="regionCode != null and regionCode != ''">
                and (adcode = #{regionCode} or left(adcode, 4) = left(#{regionCode}, 4))
            </if>
        </where>
        order by updated_at desc, created_at desc
    </select>

</mapper>
