<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viyangle.study_tour.mapper.ProjectMemberMapper">

    <insert id="insert" parameterType="com.viyangle.study_tour.pojo.ProjectMember"
            useGeneratedKeys="true" keyProperty="id">
        insert into project_members
        (project_id, account_id, join_status)
        values
        (#{projectId}, #{accountId}, #{joinStatus})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from project_members where id = #{id}
    </delete>

    <update id="updateById" parameterType="com.viyangle.study_tour.pojo.ProjectMember">
        update project_members
        set project_id = #{projectId},
            account_id = #{accountId},
            join_status = #{joinStatus}
        where id = #{id}
    </update>

    <select id="selectById" parameterType="java.lang.Long" resultType="com.viyangle.study_tour.pojo.ProjectMember">
        select id, project_id, account_id, join_status, joined_at
        from project_members
        where id = #{id}
    </select>

    <select id="selectAll" resultType="com.viyangle.study_tour.pojo.ProjectMember">
        select id, project_id, account_id, join_status, joined_at
        from project_members
    </select>
    <select id="selectByProjectId" resultType="com.viyangle.study_tour.pojo.ProjectMember">
        select id, project_id, account_id, join_status, joined_at
        from project_members
        where project_id = #{projectId}
    </select>

</mapper>
