<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viyangle.study_tour.mapper.RouteMapper">

    <insert id="insert" parameterType="com.viyangle.study_tour.pojo.Route"
            useGeneratedKeys="true" keyProperty="id">
        insert into routes
        (creator_account_id, title, region_code, days, outline, detail_json)
        values
        (#{creatorAccountId}, #{title}, #{regionCode}, #{days}, #{outline}, #{detailJson})
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from routes where id = #{id}
    </delete>

    <update id="updateById" parameterType="com.viyangle.study_tour.pojo.Route">
        update routes
        set creator_account_id = #{creatorAccountId},
            title = #{title},
            region_code = #{regionCode},
            days = #{days},
            outline = #{outline},
            detail_json = #{detailJson}
        where id = #{id}
    </update>

    <select id="selectById" parameterType="java.lang.Long" resultType="com.viyangle.study_tour.pojo.Route">
        select id, creator_account_id, title, region_code, days, outline, detail_json, created_at
        from routes
        where id = #{id}
    </select>

    <select id="selectAll" resultType="com.viyangle.study_tour.pojo.Route">
        select id, creator_account_id, title, region_code, days, outline, detail_json, created_at
        from routes
    </select>

</mapper>
